body {
  font-family: "Helvetica", sans-serif;
  background-color: #white;
  cursor: crosshair;
}

.img{
width: 100%;
height: 100%;
}

h2 {
  color: black;
}

h1, h2, h3, h4, h5, h6, a, li, em, div, li {}
.page-wrap{width:100%;margin:0 auto;}
#nav-links{background: lightblue; padding: 30px; font-variant-caps: all-small-caps;}
#nav-links li{display: inline;background: white; padding: 20px}
#nav-links li a{}
#nav-links li:hover{background-color: #f2f2f2}
h1{text-align: center;font-family: helvetica;font-weight: lighter;letter-spacing: 1pt; font-size: 36pt; font-variant-caps: small-caps;line-height: 1px;padding-top: 30px}
h2{font-family:helvetica; font-weight:lighter; font-style: italic; text-align: center;}
h3{font-family:helvetica; font-weight:lighter; font-style: italic; text-align: center; background-color: #f0dbeb}

#contact {
  background-color: #FFDE7A;
  padding: 2%;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
